ion-col {
  --ion-grid-column-padding: 0;
}

.list-ios {
  --ion-background-color: transparent;
}
ion-item {
  --color: var(--ion-color-light);
  --ion-item-border-color: var(--ion-color-light);
}

ion-select {
  border-bottom: 1px solid var(--ion-color-light);
  color: var(--ion-color-tertiary);
  font-weight: 500;
  min-height: 25px;
  padding: 0 8px;
  margin-top: 10px;

  &.has-value {
    min-height: 48px;

    &::part(icon) {
      top: 10px;
    }
  }

  &.icon-flip::part(icon) {
    width: 15px;
    color: var(--ion-color-secondary);
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &.icon-flip.select-expanded::part(icon) {
    transform: rotate(180deg);
  }

  &::part(label) {
    color: var(--ion-color-light);
    transform: none;
  }

  &.select-expanded.select-label-placement-floating::part(label),
  &.ion-focused.select-label-placement-floating::part(label),
  &.has-value.select-label-placement-floating::part(label) {
    transform: translateY(20%) scale(0.75);
  }
  
}

ion-input {
  --color: var(--ion-color-tertiary);
  --padding-start: 8px;
  border-bottom: 1px solid var(--ion-color-light);
  min-height: 43px !important;
}

ion-button {
  font-weight: 700;
}

.select-label-placement-floating .label-text-wrapper {
  transform: none;
}

h6 {
  font-weight: 700;
  margin-bottom: 0;
}

.form_group {
  margin-top: 16px;
}