<ion-content>
  <ion-grid class="wrapper">
    <ion-row>
      <app-register-header
        img="assets/imgs/logo/Oink-M.svg"
        title="¿CUÁLES SON TUS DATOS?"
        subtitle="Ahora necesitamos saber algunos datos tuyos"
      >
      </app-register-header>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="accountForm" (ngSubmit)="save()">
          <!-- ID Group -->
          <div>
            <ion-text color="secondary" class="global-font">
              <h6>Documento de identidad</h6>
            </ion-text>
            <div class="form_group">

              <!-- Document type -->
              <ion-select 
                interface="popover"
                label="Tipo de documento"
                label-placement="floating"
                toggleIcon="caret-down-sharp"
                class="icon-flip global-font"
                formControlName="documentType"
                arrow="false"
              >
                <ion-select-option *ngFor="let document of documentTypes" [value]="document.id">{{document.description}}</ion-select-option>
              </ion-select>

              <!-- Document Number -->
              <ion-input
                label="Número de documento"
                labelPlacement="floating"
                type="number"
                formControlName="documentNumber"
              ></ion-input>

              <!-- Expedition Date -->
              <ion-input
                label="Fecha de expedición del documento"
                labelPlacement="floating"
                type="date"
                formControlName="expirationDate"
                [ngClass]="isInvalidField('expirationDate') && 'has-error' || ''"
              ></ion-input>
              <ion-text class="global-font" color="danger" *ngIf="isInvalidField('expirationDate')">
                <div class="error-text">
                  <small>
                    La fecha debe ser menor a la fecha actual
                  </small>
                </div>
              </ion-text>

              <!-- Birth Date -->
              <ion-input
                label="Fecha de nacimiento"
                labelPlacement="floating"
                type="date"
                formControlName="birthDate"
                [ngClass]="isInvalidField('birthDate') && 'has-error' || ''"
              ></ion-input>
              <ion-text class="global-font" color="danger" *ngIf="isInvalidField('birthDate')">
                <div class="error-text">
                  <small>
                    La fecha ingresada no cumple con la edad mínima
                  </small>
                </div>
              </ion-text>

              <!-- Gender -->
              <ion-select 
                interface="popover"
                label="Género"
                label-placement="floating"
                toggleIcon="caret-down-sharp"
                class="icon-flip global-font"
                formControlName="gender"
                arrow="false"
              >
                <ion-select-option *ngFor="let gender of genders" [value]="gender.id">{{gender.name}}</ion-select-option>
              </ion-select>
            </div>
          </div>

          <!-- Account Config -->
          <div>
            <ion-text color="secondary" class="global-font">
              <h6>Configura tu cuenta</h6>
            </ion-text>
            <div>

              <!-- Email -->
              <ion-input
                label="Correo electrónico"
                labelPlacement="floating"
                type="email"
                formControlName="email"
                [ngClass]="isInvalidField('email') && 'has-error' || ''"
              ></ion-input>
              <ion-text class="global-font" color="danger" *ngIf="isInvalidField('email')">
                <div class="error-text">
                  <small>
                    El correo electrónico no es válido
                  </small>
                </div>
              </ion-text>

              <!-- Confirm Email -->
              <div class="input_group">
                <ion-input
                  label="Confirmar correo electrónico"
                  labelPlacement="floating"
                  type="email"
                  formControlName="confirmEmail"
                  [ngClass]="isInvalidField('confirmEmail') && 'has-error' || ''"
                ></ion-input>
                <ion-text class="global-font" color="danger" *ngIf="isInvalidField('confirmEmail')">
                  <div class="error-text">
                    <small>
                      Este campo no coincide con el correo electrónico
                    </small>
                  </div>
                </ion-text>
                <ion-button *ngIf="!isInvalidField('confirmEmail') && accountForm.controls.confirmEmail.touched && accountForm.controls.confirmEmail.value !== ''" class="icon_input_group" fill="clear" shape="round">
                  <ion-icon name="checkmark-outline" color="primary"></ion-icon>
                </ion-button>
              </div>

              <!-- PIN -->
              <div class="input_group">
                <ion-input
                  label="PIN de seguridad"
                  labelPlacement="floating"
                  [type]="securityPinType"
                  formControlName="securityPin"
                ></ion-input>
                <ion-button class="icon_input_group" fill="clear" shape="round" size="default" (click)="showSecurityPin()">
                  <ion-icon [name]="!showPin ?  'eye' : 'eye-off'" color="tertiary"></ion-icon>
                </ion-button>
              </div>

              <!-- Confirm PIN -->
              <div class="input_group">
                <ion-input
                  label="Confirmar PIN de seguridad"
                  labelPlacement="floating"
                  [type]="securityConfirmPinType"
                  formControlName="confirmSecurityPin"
                  [ngClass]="isInvalidField('confirmSecurityPin') && 'has-error' || ''"
                ></ion-input>
                <ion-text class="global-font" color="danger" *ngIf="isInvalidField('confirmSecurityPin')">
                  <div class="error-text">
                    <small>
                      Este campo no coincide con el PIN
                    </small>
                  </div>
                </ion-text>
                <ion-button class="icon_input_group" fill="clear" shape="round" size="default" (click)="showConfirmSecurityPin()">
                  <ion-icon [name]="!showConfirmPin ? 'eye' : 'eye-off'" color="tertiary"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
          
          <div class="form_submit-container">
            <!-- Submit Button -->
            <ion-button 
              type="submit"
              shape="round"
              expand="block"
              class="global-font button_action"
              [disabled]="accountForm.invalid"
            >
                SIGUIENTE
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-loader [isLoading]="documentTypes.length === 0 && genders.length === 0 "></app-loader>
