<div class="home_container">
  <div class="home_logo_brand">
    <img src="assets/imgs/logo/coink_logo.svg" alt="Coink">
    <ion-text color="primary">
      <h5 class="brand_text">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</h5>
    </ion-text>
  </div>
  <div class="home_content">
    <ion-button shape="round" expand="block" class="global-font button_action" (click)="register()">
      REGISTRATE
    </ion-button>
    <ion-button color="secondary" shape="round" class="global-font button_action">
      INGRESA
    </ion-button>
  </div>
</div>
