ion-header {
  box-shadow: 0 5px 10px #0000001A;
}

ion-text {
  text-align: center;
  margin: 23px auto 0;
  
  h6 {
    font-weight: 700;
    margin: 0;
  }
}

ion-button {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;

  min-height: auto;
}

.header_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 188px;
  margin-top: 16px;
}

.header_navigation_item:not(:last-child) {
  position: relative;
  &::after{
    content: "";
    display: inline-block;
    width: 56px;
    height: 1.5px;
    background-color: var(--ion-color-light);
    position: absolute;
    top: 9px;
    left: 22px;
  }
}

.back_button {
  position: absolute;
  top: 23px;
}